<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <script>
        function openLink(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
    <button onclick="openLink('predmeti')">Lista predmeta</button><br>
    <button onclick="openLink('lista_profesora')">Lista profesora</button><br>
    <button onclick="openLink('lista_studenata')">Lista studenata</button><br>

</body>
</html>